@media screen and (max-width: 700px) {
  .header_content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .header_content .right_header {
    padding: 2rem !important;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .header_content .right_header .name {
    font-size: 2.5rem;
  }
  .header_content .left_header {
    padding-bottom: 2rem;
  }
  .header_content .left_header .back_shape {
    display: none;
  }
  .header_content .left_header .image {
    padding: 0 !important;
    width: 80%;
    margin: 0 auto !important;
  }
  .about_container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about_container .right_about {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about_container .left_about {
    padding: 0 !important;
    margin-top: 1.5rem;
  }
  .about_container .left_about h2 {
    font-size: 1.5rem;
  }
  .about_container .left_about p {
    padding-left: 0;
  }
  .about_stats .progress_bars {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .main_title h2 {
    font-size: 2.5rem;
  }
  .main_title h2 .bg_text {
    font-size: 3.7rem;
    font-weight: 700;
  }
  .timeline_container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .timeline_container .timeline_item {
    margin: .7rem 0;
  }
  .port_text {
    margin-top: 2.5rem;
  }
  .portfolio_container, .blogs_container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contact_container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contact_container .left_contact h2 {
    font-size: 1.4rem;
  }
  .contact_container .right_contact .double_input {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .theme_btn {
    width: 45px;
    height: 45px;
  }
}

@media screen and (min-width: 701px) and (max-width: 970px) {
  .header_content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .header_content .right_header {
    padding: 2rem 4rem !important;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .header_content .right_header .name {
    font-size: 3rem;
  }
  .header_content .left_header {
    margin: 4rem;
  }
  .header_content .left_header .back_shape {
    display: none;
  }
  .header_content .left_header .image {
    padding: 0 !important;
    width: 70%;
    margin: 0 auto !important;
  }
  .contact_container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contact_container .right_contact .double_input {
    -ms-grid-columns: 3fr 5fr;
        grid-template-columns: 3fr 5fr;
  }
  .main_title h2 {
    font-size: 3rem;
  }
  .main_title h2 .bg_text {
    font-size: 4.2rem;
    font-weight: 700;
  }
}

@media screen and (min-width: 970px) and (max-width: 1070px) {
  .header_content {
    -ms-grid-columns: 7fr 6fr !important;
        grid-template-columns: 7fr 6fr !important;
  }
  .header_content .left_header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_content .left_header .image {
    margin-top: 1rem;
    width: 80%;
    top: 50%;
  }
  .header_content .right_header {
    margin-top: 2rem;
  }
  .contact_container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .contact_container .right_contact .double_input {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 701px) and (max-width: 1070px) {
  .portfolio_container, .blogs_container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 701px) and (max-width: 800px) {
  .about_container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 701px) and (max-width: 730px) {
  .port_text {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 801px) and (max-width: 1070px) {
  .about_container {
    -ms-grid-columns: 5fr 3fr;
        grid-template-columns: 5fr 3fr;
  }
  .about_container .right_about {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 970px) {
  .controls {
    top: auto;
    bottom: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
    padding-bottom: 1rem;
  }
  .controls .control {
    margin-left: 1.5rem;
  }
  section {
    padding: 3rem 3rem 6rem !important;
  }
}

@media screen and (min-width: 1070px) and (max-width: 1170px) {
  section {
    padding: 3rem 5.5rem !important;
  }
  .contact_container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .contact_container .right_contact .double_input {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .header_content {
    -ms-grid-columns: 7fr 6fr !important;
        grid-template-columns: 7fr 6fr !important;
  }
  .header_content .left_header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_content .left_header .image {
    margin-top: 1rem;
    width: 75%;
  }
  .header_content .right_header {
    margin-top: 2rem;
  }
}
/*# sourceMappingURL=media.css.map */